/* CSS for all element */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px; /* Chỉ ảnh hưởng lên <p> */
}

body {
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

hr.line-blue {
    height: 4px;
    width: 100px;
    color: #00a8b8;
    background-color: #00a8b8;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*
 * =========================================
 * NAVIGATION
 * =========================================
 */

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px;
    background-color: transparent;
    z-index: 9999;
}

.bg-blacked {
    background-color: rgba(0, 0, 0, 0.6);
}

.navigation .logo {
    display: flex;
    align-items: center;
}

.navigation .logo img {
    width: auto;
    height: 24px;
}

.navigation .items {
    padding: 12px 0;
}

.navigation .items a {
    margin: 0 1rem;
    padding: .5rem 0;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}

.navigation .items a.order {
    background-color: rgb(255,145,0);
    border-radius: 6px;
    padding: 10px 18px;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 700;
}

.navigation .items a.item:hover {
    border-bottom: 2px solid #00a8b8;
}

/*
 * =========================================
 * HOME HEADER
 * =========================================
 */

.home-header {
    position: relative;
}

.home-header img {
    width: 100%;
    height: auto;
    display: block;
}

.home-header .header-overlay {
    display: flex;
    justify-content: center;/*canh giua 2 dau ngang*/
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.home-header .header-overlay .text {
    text-align: center;
}

.home-header .header-overlay .text h1 {
    font-size: 2.8125rem;
    font-family: inherit;
    color: #00a8b8;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.home-header .header-overlay .text h2 {
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 400;
}

/*
 * =========================================
 * INTRODUCTION
 * =========================================
 */
.introduction {
     display: flex;
     justify-content: center;
     background-color: #f5f5f5;
 }
 
.introduction .container {
    display: flex;
}

.introduction .content-left {
    flex: 1;
    padding-top: 120px; /* khoang cach header vs content-left */
    padding-right: 50px;
}

.introduction .content-left h2 {
    font-size: 2.8125rem;
    line-height: 1.2;
    font-weight: bolder;
}

.introduction .content-left h2 a {
    color: #00a8b8;
    text-decoration: none;
    font-size: 18px;
    font-family: Raleway, sans-serif;
}

.introduction .content-left p {
    line-height: 2.1875rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #212529;
}

.introduction .content-right {
    flex: 1;
}

.introduction .content-right .masonry {
    display: flex;
    max-height: 755px;
    height: 100%;
    margin-top: -7px;
}

.introduction .content-right .masonry .masonry-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.introduction .content-right .masonry .masonry-column .item {
    /* padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px; t-b-l-r*/
    padding: 30px 20px;
    margin: 7px;  
    position: relative;
    cursor: pointer;/* hien con tro khi click vo img */
    background-size: cover;/* lay img vua khung */
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.introduction .content-right .masonry .masonry-column .item h3 {
    font-weight: 600;
    line-height: 1.79;
    font-size: 1.25rem;
    color: #FFF;
    opacity: .99;
}

.introduction .content-right .masonry .masonry-column .item p {
    line-height: 2.1875rem;
    font-size: 1.125rem;
    color: #fff;
    opacity: .68;
}

.introduction .content-right .masonry .masonry-column .item-1 {
    flex: 1;
    background-color: #00a8b8;
    padding: 0;
}

.introduction .content-right .masonry .masonry-column .item-2 {
    background: #212529 url("../img/famili.png") no-repeat;
    flex: 8;
    
}

.introduction .content-right .masonry .masonry-column .item-3 {
    background: #212529 url("../img/heath.jpg") no-repeat;
    flex: 10;
}

.introduction .content-right .masonry .masonry-column .item-4 {
    background: #212529 url("../img/educa.jpg") no-repeat;
    flex: 2.5;
}

.introduction .content-right .masonry .masonry-column .item-5 {
    background: #212529 url("../img/business.png") no-repeat;
    flex: 4;
}

.introduction .content-right .masonry .masonry-column .item-6 {
    flex: 1;
    background-color: #00a8b8;
    padding: 0;
}

.introduction .content-right .masonry .masonry-column .item-7 {
    flex: 2;
    background-color: #000;
    padding: 0;
}

.introduction .content-right .masonry .masonry-column .item-8 {
    background: #212529 url("../img/develop.png") no-repeat;
    flex: 14;
}

.introduction .content-right .masonry .masonry-column .item-9 {
    flex: 1;
    background-color: #000;
    padding: 0;
}

/*
 * =========================================
 * KEY-FEATURES
 * =========================================
 */

.key-features {
    padding-top: 130px;
}

.key-features .key-title {
    text-align: center;
}

.key-features .key-title h2 {
    font-size: 2.8125rem;
    line-height: 1.2;
    font-weight: bolder;
}

.key-features .key-title .line-blue {
    margin: 30px auto;
}

.key-features .key-product {
    display: flex;
    height: 500px;
}

.key-features .key-product .product {
    flex: 1;
}   

.key-features .key-product .product-1 {
    background: url("../img/anh1.png") no-repeat;
}

.key-features .key-product .product-2 {
    background: url("../img/anh2.png") no-repeat;
}

.key-features .key-product .product-3 {
    background: url("../img/anh3.png") no-repeat;
}

.key-features .key-product .product-4 {
    background: url("../img/anh4.png") no-repeat;
}

.key-features .key-product .product-1 .feature-1 {
    visibility: hidden;
    text-align: center;
    padding-top: 30px;
}

.key-features .key-product .product-1:hover .feature-1 {
    visibility: visible;
} 

.key-features .key-product .product-2 .feature-2 {
    visibility: hidden;
    text-align: center;
    padding-top: 30px;
}

.key-features .key-product .product-2:hover .feature-2 {
    visibility: visible;
} 

.key-features .key-product .product-3 .feature-3 {
    visibility: hidden;
    text-align: center;
    padding-top: 10px;
}

.key-features .key-product .product-3:hover .feature-3 {
    visibility: visible;
} 

.key-features .key-product .product-4 .feature-4 {
    visibility: hidden;
    text-align: center;
    padding-top: 30px;
}

.key-features .key-product .product-4:hover .feature-4 {
    visibility: visible;
} 

.key-features .key-addition {
    margin-top: 80px;
}

.key-features .key-addition p {
    line-height: 2.1875rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-align: center;
}

/*
 * =========================================
 * CUSTOMER
 * =========================================
 */

.customer {
    height: 150px;
    background-color: #000;
}

/*
 * =========================================
 * REVIEW
 * =========================================
 */

.review {
    display: flex;
    padding-top: 70px;
} 

.review .review-logo {
    flex: 1;
}

.review .review-logo img {

}

.review .review-text {
    flex: 2;
}

.review .review-text .text {
    text-align: center;
}

.review .review-text .text p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: .313rem;
}

.review .review-text .text small {
    color: #666;
    font-size: .875rem;
}

.review .review-text .text a {
    text-decoration: none;
}